.services-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // max-width: 100%;

  // @media screen and (min-width: 528px) {
  //   max-width: 100%;
  // }
  // @media screen and (min-width: 768px) {
  //   max-width: 349px;
  // }
  // @media screen and (min-width: 1240px) {
  //   max-width: 560px;
  // }
}

.services-item {
  display: flex;
  gap: 24px;
  border: 2px solid #d6dde5;
  padding: 20px 24px;
}

.services-img {
  width: 256px;
  height: 258px;
}

.services-h4-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.24;
}
.services-h5-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.24;
}

.list-wrapper {
  display: flex;
  padding-left: 36px;
  gap: 48px;
}

.services-list-details {
  width: 392px;
  list-style: disc;
  display: flex;
  flex-direction: column;

  gap: 8px;
}

// .services .secondary-title {
//   color: var(--white-color);
//   margin-bottom: 4px;
//   @media screen and (min-width: 1240px) {
//     margin-bottom: 8px;
//   }
// }

// .services .main-title {
//   color: var(--white-color);
// }

// .services .main-text {
//   color: var(--white-color);
// }

// .services .title {
//   color: var(--white-color);
// }
